{% extends 'user/master.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-7" ><img src="{% static '/images/studying1.jpg' %}" height="400" width="800"></div>
        <div class="col-5" ><p class="display-5">
          Are you a student, <br>employee educator trainer <br> or manager who needs to <br> teach or learn.<br> LETS LEARN HERE! </p></div>
      </div>
    </div>
    <center><div class="container">
        <br>
<button type="SUBMIT" class="btn btn-secondary btn-lg">GET STARTED HERE </button>
    </div></center>
{% endblock %}